body{
    /*background-color:#;*/
}

#indexMenuBox a{
    font-size:2em;
    font-weight:bold;
    border:4px inset #808080;
}

.animal{
    padding-bottom:30px;
}

.animalTitle{
    font-weight:bold;
    text-align:center;
    font-size:1.5em;
    text-shadow:1px #808080;
}

p{
    text-align:center;
    font-size:1em;
}