body, html {
    height: 100%;
}

h2 {
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 2px 3px #000;
}

.contentBox{
    background-color:#000;
    opacity:0.7;
    color:azure !important;
    padding:20px;
}

small {
    font-size: 60%;
}

#aditionalOptionsBox {
    /*margin-top: 15px;*/
    width: 60%;
    margin: 15px auto auto auto;
}

.btn-danger {
    background-color: #fff;
}

    .btn-danger:hover {
        background-color: #808080;
    }

    .btn-danger:focus {
        background-color: #6d6d6d;
    }

    .btn-danger:active {
        background-color: #6d6d6d;
    }

.btn-primary {
    background-color: #0094ff;
}

    .btn-primary:hover {
        background-color: #005bff;
    }

.btn-success {
    background-color: #b200ff;
}

    .btn-success:hover {
        background-color: #8f00ff;
    }

.btn-info {
    background-color: #e10b8e;
}

    .btn-info:hover {
        background-color: #e10b5a;
    }

.glyphicon {
    color: #000;
}

.bg {
    margin-top: 40px;
    /* The image used */
    background-image: url("images/lush-green-grass-texture.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.spaceAbove {
    padding-top: 15px;
}

.spaceBelow {
    padding-bottom: 15px;
}

footer {
    margin-bottom: 0 !important;
}

.footerTitle {
    font-weight: bold;
    font-size: 1.2em;
    /*text-shadow:20px 20px 20px 20px #000;*/
    text-shadow: 2px 2px 0px #000;
}

.animalBox {
    background: rgba(239, 239, 239, 0.65);
    border-radius:20px;
    border:2px groove #000;
    padding-top: 20px;
    margin-top:15px;
}

.animalText{
    /*border:1px outset #000;*/
    background-color:#3d3d3d;
    border-radius:10px;
    padding:15px;
    margin-bottom:15px;
    color:#fff !important;
}

    .animalText h2, .animalText p{
        color:#fff;
    }
    /*#indexMenuBox{
    min-height:68vh;
}*/
    #indexMenuBox a, #indexMenuBox button {
        font-size: 2em;
        font-weight: bold;
        border: 4px inset #808080;
    }

.animal {
    padding-bottom: 30px;
}

.animalTitle {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px #808080;
    color: #000;
}

p {
    text-align: center;
    font-size: 1em;
    padding-bottom: 15px;
    color: #000;
}
